@model IEnumerable<FSO.Models.Location>

@{
    ViewData["Title"] = "Lokalizacje";
}

<center><h3 class="display-6">Lokalizacje wydarzeń</h3></center>

<p>
    <a class="btn btn-primary" asp-action="Create">Dodaj lokalizację</a>
</p>
<table class="table table-striped table-hover table-bordered">
    <thead class="custom-header">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
        </tr>
}
    </tbody>
</table>
