@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Admin";
}

<center><h3 class="display-6">Admin Panel</h3></center>

<table class="table table-striped table-hover table-bordered">
    <thead class="custom-header">
        <tr>
            <th>
                Nazwa Panelu
            </th>
            <th>
                Szczegóły
            </th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>
                    Wydarzenia - Events
                </td>
                <td>
                    <a class="odnosnik" asp-action="Index" asp-controller="Events">Przejdź</a>
                </td>
            </tr>
            <tr>
                <td>
                    Rodzaje wydarzeń - EventTypes
                </td>
                <td>
                    <a class="odnosnik" asp-action="Index" asp-controller="EventTypes">Przejdź</a>
                </td>
            </tr>
            <tr>
                <td>
                    Tagi wydarzeń - EventTags
                </td>
                <td>
                    <a class="odnosnik" asp-action="Index" asp-controller="EventTags">Przejdź</a>
                </td>
            </tr>
            <tr>
                <td>
                    Tagi - Tags
                </td>
                <td>
                    <a class="odnosnik" asp-action="Index" asp-controller="Tags">Przejdź</a>
                </td>
            </tr>
            <tr>
                <td>
                    Lokalizacje - Locations
                </td>
                <td>
                    <a class="odnosnik" asp-action="Index" asp-controller="Locations">Przejdź</a>
                </td>
            </tr>
            <tr>
                <td>
                    Listy uczestników<sub><sub><sub>Dane do tagów</sub></sub></sub>- Participants
                </td>
                <td>
                    <a class="odnosnik" asp-action="Index" asp-controller="Participants">Przejdź</a>
                </td>
            </tr>
    </tbody>
</table>
