@model IEnumerable<FSO.Models.EventTag>

@{
    ViewData["Title"] = "Tagi";
}

<center><h3 class="display-6">Tagi wydarzeń</h3></center>

    @if (User.IsInRole("Admin"))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Operacje na stronie zostały zablokowane!</strong> Obecnie dostępny jest tylko podgląd, przejście na podstrony zwraca Access Denied, jest to spowodowane tym, że to <strong>tabela pomocnicza</strong> stąd nie jest przewidziana edycja. Opcje zostały na potrzeby ewentualnych zmian w strukturze bez konieczności odbudowywania kontrolera.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<table class="table table-striped table-hover table-bordered">
    <thead class="custom-header">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tag)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tag.Name)
            </td>
        </tr>
}
    </tbody>
</table>
