@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Odmowa dostępu";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Nie posiadasz wystarczających uprawnień by przeglądać te zasoby.</p>
</header>
