@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Hasło zostało zaktualizowane";
}

<h1>@ViewData["Title"]</h1>
<p>
    Twoje hasło zostało zaktualizowane. Kliknij tutaj <a asp-page="./Login">by się zalogować</a>.
</p>
